doctype
html(lang="en")
    head
        include includes/header.pug
        title= title
    main

        body
            nav.hide-on-large-only.blue
                .nav-wrapper
                    a.brand-logo(href='#!') Klack
                    a.sidenav-trigger(href='#', data-target='mobile-demo')
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href='sass.html') Sass
                        li
                            a(href='badges.html') Components
                        li
                            a(href='collapsible.html') Javascript
                        li
                            a(href='mobile.html') Mobile
                ul#mobile-demo.sidenav.sidenav-fixed
                    li.blue
                            div#sidenav.row.background.blue
                                div.col.s1#KlackContainer
                                    img#klack.square(src="images/klack.png")
                                div.col.s2.offset-s2.center-align
                                    p#h1 Klack
                    li
                        ul.collapsible
                            li#profile.left
                                ul.collection
                                    a#proImgContainer2.btn-floating.btn-large.waves-effect.waves-light.red.dropdown-trigger(href='#' data-target='dropdown2')
                                        img#proImg(src='images/doge.jpg', alt='')
                                    ul#dropdown2.dropdown-content
                                        li
                                            a(href='#!') Upload Profile Picture
                                        
                                    li#proPic.collection-item.avatar.valign-wrapper
                                        span.title
                                        p
                                            | Doge
                                            br
                                            |          The Dog
                                        
                                ul.collapsible
                                    li
                                        #usersContainer.collapsible-header
                                            i.material-icons face
                                            | Active User List
                                        .collapsible-body
                                            div#userpane
                                                div#users
                                                    span.inactive ○ AAA
                                                    br
                                                    span.inactive ○ Adrian
                                                    br
                                                    span.active
                                                        span#green ●
                                                        |  aj
                                                    br
                                            
                                        div#uploadDiv
                                
            div#20.row
                div.col.s1
                    ul#slide-out.sidenav.sidenav-fixed
                        li.blue
                            div#sidenav.row.background.blue
                                div.col.s1#KlackContainer
                                    img#klack.square(src="images/klack.png")
                                div.col.s2.offset-s2.center-align
                                    p#h1 Klack
                    
                        li
                            ul.collapsible
                                li#profile.left
                                    ul.collection
                                        a#proImgContainer.btn-floating.btn-large.waves-effect.waves-light.red.dropdown-trigger(href='#' data-target='dropdown1')
                                            img#proImg(src='images/doge.jpg', alt='')
                                        ul#dropdown1.dropdown-content
                                            li
                                                a(href='#!') Upload Profile Picture
                                         
                                        li#proPic.blue-text.collection-item.avatar.valign-wrapper
                                            span.title
                                            p
                                                | Doge
                                                br
                                                |          The Dog
                                         
                                    ul.collapsible.blue-text
                                        li
                                            .collapsible-header
                                                i.material-icons face
                                                | Active User List
                                            .collapsible-body
                                                div#userpane
                                                    div#users
                                                        span.inactive ○ AAA
                                                        br
                                                        span.inactive ○ Adrian
                                                        br
                                                        span.active
                                                            span#green ●
                                                            |  aj
                                                        br
                                                
                                            div#uploadDiv
                                
                div.col.s12
                    div#chat
                        div.mainpane.chatbox
                            div#messageslist.chatlogs
                                div.chat.self
                                    div.user-photo  
                                    p.chat-message
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iusto cumque dolore laborum illum libero incidunt debitis reprehenderit tempore distinctio, exercitationem ad, laboriosam sapiente maiores velit, nisi facilis deserunt placeat?

                        div#chat-form.chat-form
                            textarea#textArea
                            button#send.btn.waves-effect.waves-light.blue(type="submit" name="action")
                                i.material-icons.center send
                            button#upload.btn.waves-effect.waves-light.red(type="submit" name="action")
                                i.material-icons.center add_to_photos
                        //- #floatContainer.fixed-action-btn.right-align
                        //-     a#floatBtn.btn-floating.btn-small.red
                        //-         i#floatIcon.small.material-icons mode_edit
                        //-     ul#floatPop
                        //-         li
                        //-             a.btn-floating.btn-small.red
                        //-                 i.material-icons add_to_photos
                        //-         li
                        //-             a.btn-floating.btn-small.yellow.darken-1
                        //-                 i.material-icons local_pizza
                            //- li
                            //-     a.btn-floating.btn-small.green
                            //-         i.material-icons publish
                            //- li
                            //-     a.btn-floating.btn-small.blue
                            //-         i.material-icons attach_file

                        
    
            
                        
                       

                
                
                
                
    
        script(src="https://cdn.jsdelivr.net/npm/emoji-js@3.4.0/lib/emoji.min.js")
        script(src="main.js")
    footer
        include includes/footer.pug
