/* Overwrite Materialize */

nav {
  color: #2196F3;
}

#blue {
  color: #2196F3;
}

#red {
  color: #f44336
}

#green {
  color: #4CAF50
}

.sidenav {
  width: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

#chat {
  overflow-y: scroll;
  overflow-x: hidden;
}

#chat-form {
  max-height: 10vh;
  width: 100%;
}

.fixed-action-btn {
  position: relative;
  right: 130px;
  bottom: 48.5px
}

.fixed-action-btn ul {
  left: 0;
  right: 0;
  text-align: none;
  position: absolute;
  bottom: 64px;
  margin: 0;
  visibility: hidden;
}

#dropdown1 {}

/* New Css */

#send {
  margin: 0 1px
}

#upload {
  margin: 0 1px
}

header,
main,
footer {
  padding-left: 210px;
}

#usersContainer {
  color: #2196F3;
}

#sidenav {
  max-height: 60px;
  margin-bottom: 0px;
}

#klack {
  max-width: 60px;
  max-height: 60px;
}

#KlackContainer {
  max-height: 100px;
  padding: 0px;
  margin-bottom: 0px;
  max-width: 100px;
  margin-left: 10px
}

.sidenav-header {
  padding-left: 60px;
  color: white;
  font-family: 'Open Sans';
  font-size: 40px;
}

#h1 {
  color: white;
  font-family: 'Open Sans';
  font-size: 40px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 10px
}

/* Active User List */

#userContainer {}

#userpane {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: white;
}

#users {
  top: -300px;
  color: #ccc;
}

.inactive {
  color: #ccc;
}

.active {
  color: #2196F3;
}

#chat {
  overflow: hidden;
  margin-left: 2%;
  margin-right: 0px;
  max-width: 100%;
}

#20 {
  max-width: 10vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainpane {
  /* border:1px solid red; */
  height: 85vh;
  width: 100%;
  /* background-color: grey; */
}

#messageslist {
  height: 100%;
  overflow-y: scroll;
}

/* User Profile Tab */

.collection-2 {
  margin: .5rem 0 1rem 0;
  border: 0px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

#profile {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
  top: -20px
}

#proPic {
  align-content: center;
}

#proImg {
  width: 100%;
  height: 100%;
}

#proImgContainer {
  position: absolute;
  top: 12px;
  left: 8px
}

#proImgContainer2 {
  position: absolute;
  top: 12px;
  left: 8px;
  margin-left: 0px;
}

/* ////////////////////////////////////// */

/* //////////////-Chat-box-Styling-//////////////// */

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 8px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .1)
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 0px;
}

.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
}

.chat .chat-message {
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  background: #1ddced;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.friend .chat-message {
  background: #1adda4;
}

.self .chat-message {
  background: #ccc;
  order: 1;
}

/* Chatform  */

/* Floating Action button */

#floatContainer {
  padding-top: 0px;
  margin-bottom: 15px;
}

#floatPop {
  bottom: 30px;
  text-align: right;
}

/* chatform boxes */

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  /* border: 2px red solid; */
  justify-content: center;
}

.chat-form textarea {
  background: #fbfbfb;
  flex-basis: 1;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}

.chat-form textarea:focus {
  background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 8px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .1);
}

.chat-form button {
  background: #1ddced;
  height: 40px;
  flex-basis: 1;
  font-size: 10px;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  /* box-shadow: 0 3px #0eb2c1; */
  cursor: pointer;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.card-size {
  display: flex;
}

.welcome-text {
  font-size: 80px;
  text-shadow: 0px 0px 4px black;
}

.welcome-subtext {
  font-size: 80px;
  text-shadow: 0px 0px 4px black;
}

.parallax img {
  opacity: 0.5;
}

.shadow {
  box-shadow: 0px 10px 5px black;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
  .mainpane {
    /* border:1px solid red; */
    height: 75vh;
    width: 100%;
  }
  .sidenav {
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #messageslist {
    width: 100%;
    word-wrap: break-word;
  }
  .mobileImg {
    width: 95%;
  }
  /* No emoji option for mobile. */
  svg:not(#faces):not(#animals):not(#food):not(#sport):not(#transport):not(#objects) {
    display: none;
  }
  #KlackContainer {
    max-height: 100px;
    padding: 0px;
    margin-bottom: 0px;
    max-width: 100px;
    margin-left: 0px;
  }
}