html {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  margin: 0;
}

#userpane {
  background: #00366f;
  width: 200px;
  height: 100%;
  padding: 0 20px;
  color: white;
}

#users {
  overflow-y: scroll;
  height: calc(100% - 250px);
}

#uploadDiv {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* background-color: blue; */
  height: 125px;
  width: 200px;
}

.profilePic {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 5px;
  background-color: blueviolet;
}

.active {
  color: lightgray;
}

.inactive {
  color: darkgray;
}

.cyan {
  color: cyan;
}

#mainpane {
  width: 100%;
  position: relative;
}

h1 {
  background: url('klack.png') no-repeat;
  background-size: contain;
  padding-left: 60px;
  color: white;
  font-family: 'Open Sans';
  font-size: 40px;
}

#text {
  width: 75vw;
  margin-top: 50px;
  height: 20px;
  background-color: transparent;
}

#messageslist {
  height: calc(100% - 203px);
  overflow-y: scroll;
}

#messageheader {
  font-size: 20px;
  padding: 20px;
}

.message {
  padding: 5px 20px;
  font-size: 22px;
  margin-bottom: 10px;
}

.message:hover {
  background: #f8f8f8;
}

#newmessage {
  position: absolute;
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 5px;
  width: 50%;
  margin: 20px;
}

.message:hover {
  background: #f8f8f8;
}

#send-icon {
  position: relative;
  top: 30px;
  z-index: 1;
  float: right;
  border: none;
  height: 40px;
  width: 40px;
  background: url(./blue-arrow.png) no-repeat;
}

/* styling for emoji icon */

svg:not(#faces):not(#animals):not(#food):not(#sport):not(#transport):not(#objects) {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -75px;
  bottom: -55px;
}

/* //FOR MOBILE */

@media only screen and (max-width: 580px) {
  body {
    flex-direction: column;
  }
  #userpane h1 {
    background: url('hamburger.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
  }
  #userpane {
    width: 100vw;
    height: 12vh;
  }
  #users {
    display: none;
    background-color: #00366f;
    position: absolute;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: auto;
    height: 50vh;
    width: 50vw;
    left: 0px;
    top: 10vh;
    border-top: 2px solid #003690;
  }

  #newmessage {
    position: static;
  }
  #text {
    display: flex;
    width: 100vw;
    height: 12vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: rgba(211, 211, 211, 0.801);
  }
  #send-icon {
    top: 4.5vh;
    right: 1vw;
    height: 40px;
    width: 15vw;
  }
  #messageslist {
    margin-bottom: 12vh;
  }
  #uploadDiv {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 20px;
    right: 5px;
    bottom: initial;
    left: initial;
  }
  .message {
    padding: 5px 20px;
    font-size: 21px;
    margin-bottom: 10px;
  }
  #messageslist {
    word-wrap: break-word;
  }
  /* No emoji option for mobile. */
  svg:not(#faces):not(#animals):not(#food):not(#sport):not(#transport):not(#objects) {
    display: none;
  }
}